.task_1  div{
    width: 300px;
    height: 60px;
    margin: 20px auto ;
    text-align: center;
    text-transform: capitalize;
    font-weight: 800;
    padding-top: 50px;    
}
:empty{
    background-color: red;
}
.div1{
    background-color: rgb(214, 213, 213);
}
.div3{
    background-color: rgb(214, 213, 213);
}
/*task_2*/
 p {

    position: relative;
    margin: 50px auto;
    border: 1px solid white;
    background-color: rgb(214, 213, 213);
    width: 400px;
    height: 30px;
    padding-top:10px ;
    padding-left: 15px; 
    border-left:10px solid red;
    font-weight: 800;


}
p::after {
    content: " ";
    position: absolute;
    width: 20px;
    height: 100%;
    left: -33px;
    background-color: red;
    top: 0px;
    clip-path: polygon(0% 100%, 50% 50%, 100% 100%);
    transform: rotate(-90deg);

}
p::before{
    content: attr(data-person);
    position: absolute;
    padding: 10px;
    background-color: rgb(214, 213, 213);
    width: 70px;
    left: -130px;
    top: 0px;
    text-align: center;
}
/*task_3*/
.task_3 div{
    display: inline-flex;
    justify-content: center; 
    width: 100px;
    border-radius: 50%;
    border: solid black 3px;
    margin: 50px auto; 
    margin-left: 220px;
    padding: 50px;
    background-color: rgb(214, 213, 213);
    box-shadow: 8px 8px 0px 2px rgb(0, 153, 255), -8px -8px 0 0 red;
    counter-increment: numbers;
    font-weight: 800;
    font-size: large;

}
.div4::before{
    content: counter(numbers);
    display: flex;
    justify-content: center;
    position: absolute;
    color: white;
    background-color: black;
    width: 30px;
    margin-top: -70px;
    height: 20px;
    border-radius: 50%;
    padding: 2px;

}
/*task_4*/
.task_4{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 100px;
    width: 840px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;

}
.body{
    background-color: rgb(214, 213, 213);
    width: 290px;
    height: 400px;
    text-align: center;
    padding: 50px;
}
.top{
    background-color: #03a9f4;
    border-radius:5px ;
    border: #03a9f4 solid 8px;
    color: white;
    width: 260px;
    margin: auto;
    padding: 9px;
    margin-top: -35px;
    margin-bottom: 100px;

}
.price{
    border-radius: 50%;
    background-color: rgba(238, 238, 238, 0.534);
    width:130px ;
    padding: 90px;
    font-weight: bolder;
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.line{
border: 5px solid #03a9f4;
}

.line::before{
    content: " Or ";
    background-color: #03a9f4;
    color: white;
    position: absolute;
    text-align: center;
    border-radius: 70%;
    width: 28px;
    height: 26px;
    left: 50%;
    margin-top: 230px;
    transform: translate(-50%, 50%);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}